body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(120deg, 
    rgba(169, 0, 0, 1) 0%, 
    rgba(113, 50, 87, 1) 50%, 
    rgba(58, 100, 173, 1) 100%);
  background-repeat: no-repeat;   
  background-size: cover;        
  min-height: 100vh;
  text-align: center;            
}

.container {
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  background-color: white;
  border-radius: 190px;
}

.clicca {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12rem;
}   

img{
  width: 80vw;
  height: auto;
  position: relative;
  top: 10vh;
  padding-bottom: 15vh;
}