body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #7b0012 0%,
    #b3152a 30%,
    #7a2258 60%,
    #243a7a 100%
  );
  background-repeat: no-repeat;   
  background-size: cover;        
  min-height: 100vh;               
}

.container {
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  background-color: white;
  border-radius: 10vw;
}

.logo {

  position: relative;
  top: 10vh;
  
  animation: suGiu 4s ease-in-out infinite;
}

@keyframes suGiu {
  0%, 100% {
    translate: 0 0;
  }
  50% {
    translate: 0 3.5vh;
  }
}

.clicca {
  position: relative;
  bottom: -20vh;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15vw;
}   